* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "josefin sans", sans-serif;
  color: #2B3647;
}

.row {
  width: 960px;
  margin: auto;
}

.container {
  display: flex;
}

button {
  font-family: "josefin sans";
}

/* Navbar */
#logo {
  margin: 0 auto;
  font-weight: bold;
  font-size: 150%;
}

.user-btn {
  padding: 10px;
}

.nav-buttons {
  justify-content: space-evenly;
}

.navbar ul {
  margin: 15px;
  display: flex;
  list-style: none;
}

.navbar input {
  margin-top: 5px;
  height: 20px;
  font-size: 16px;
  font-family: "josefin sans";
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

/* Landing Page */
.landing {
  text-align: center;
}

.landing button {
  background-color: #495FFA;
  border: none;
  color: #fff;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 38px;
  box-shadow: 0px 2px 5px 0px rgba(94,115,255,0.66);
}

.landing p {
  margin: 70px 10px 10px;
}

.landing h1 {
  margin: 20px;
}

/* Product */
.product {
  margin-top: 80px;
  padding: 40px 0px;
  background-color: #F9FAFB;
  text-align: center;
}

.product .row > p {
  margin: 10px;
  font-weight: 300;
}

.all-product {
  display: flex;
}

.single-product {
  background-color: #fff;
  padding: 50px;
  margin: 10px;
  /* align-self: center; */
  box-shadow: 0px 1px 26px 0px rgba(224,224,224,1);
  border-radius: 4px;
}

.subdiv-product {
  display: flex;
  align-content: center;
  justify-content: center;
}